<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">

    <title>@ViewData["Title"] - слуЧАЙно</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    @RenderSection("Style", required: false)
</head>
<body>
    <div class="wrapper">

        <header class="header">
            <div class="container">
                <div class="menu">
                    <a asp-controller="Home" asp-action="Index">
                        <span class="logo">
                            слуЧАЙно
                            <div class="sqrt"></div>
                        </span>
                    </a>
                </div>
            </div>
        </header>

        <div class="content">
            <div class="container">
                @RenderBody()
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md">
                        <span class="logo">
                            слуЧАЙно
                            <div class="sqrt"></div>
                        </span>
                    </div>
                    <div class="col-6 col-md">
                        <ul>
                            <li>@Html.ActionLink("Кофе", "Index", "MenuCategory", new { id = 1 }, null)</li>
                            <li>@Html.ActionLink("Чай", "Index", "MenuCategory", new { id = 2 }, null)</li>
                            <li>@Html.ActionLink("Еда", "Index", "MenuCategory", new { id = 3 }, null)</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md">
                        <ul>
                            <li>Адрес: г. Екатеринбург, ул. 8 марта, д. 64</li>
                            <li><a href="">Телефон: +7 (922) 456 45-45</a></li>
                            <li><a href="">E-mail: sluchayno@yandex.ru</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
